.fcontainer{
display:flex;
justify-content:flex-end;
flex-wrap:wrap;
background-color:white;
 z-index: 100;
 position:relative;
}

.fitem{
padding:15px;
background-color:white;
border-radius:3px;
width:95px;
height:20px;
justify-content:flex-center;
font-size:17px;
text-align:center;
font-family:Verdana;
position:relative;
top:0px;
transition-property: all;
transition-duration: 0.8s;
}

.fitem:hover{
top:10px;
background-color:#154c79;
box-shadow:-3px -3px 9px gray;
}

.nev{
  text-decoration: none;
  display:inline-block;
  color: #154c79;
  padding:2em;
  position:relative;
  margin:-2em;
}

.nev:hover{
color:white;
text-decoration: underline;
}


.logo_name{
float:left;
/*border-style:double;
border-color:#154c79;
border-radius: 5px;*/
padding:8px;
padding-left:40px;
background-color:white;
margin:0;
font-family:cursive;
color:#154c79;
}

.setfixed{
position:sticky;
top:0;
background-color:white;
 z-index: 100;
}

body{
margin:0;
overflow-x: hidden;
}

.goto{
position:fixed;
bottom:0;
right:0;
margin:6px;
filter:grayscale(100%);
}

.goto:hover{
filter:none;
}

hr{
margin:0;
box-shadow:-1px 1px 2px lightgrey;
}

html{
scroll-behavior: smooth;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  left:0;
 object-fit:cover;
 height:100%;
  z-index:-2;
}


.custom-icon {
  font-size: 45px;
  color : white;
 padding-right:35px;
 padding-left:35px;
 transition-property: all;
 transition-duration: 0.3s;
}

.custom-icon1 {
  font-size: 45px;
  color : white;
  padding-right:35px;
 padding-left:35px;
 transition-property: all;
 transition-duration: 0.3s;
}

.custom-icon:hover{
color:#FF0000;
}

.custom-icon1:hover{
color:#00acee;
}

.req{

  /*background-color:lightgrey;*/
  border-style: dashed;
  border-color: #154c79;
  text-align:center;
  width:50%;
  margin:45px;
  padding:15px;
  font-family:verdana;
}

.btn{
  position:relative;
  padding:10px;
  bottom:180px;
  right:35px;
  background-color:white; 
  color:#154c79;
  border:none;
  font-size:20px;
  font-weight: bold;
}

.btn1{
  position:relative;
  
  padding:10px;
  bottom:180;
  left:35px;
  background-color:white; 
  color:#154c79;
  border:none;
  font-size:20px;
  font-weight: bold;
  z-index: 10;
}