.fcontainer{
  display:flex;
  justify-content:flex-end;
  flex-wrap:wrap;
  background-color:white;
  z-index: 100;
  position:relative;
  padding:10px;
}

.fitem{
  padding:20px;
  background-color:white;
  border-radius:4px;
  width:95px;
  height:20px;
  justify-content:flex-center;
  font-size:17px;
  text-align:center;
  font-family:Verdana;
  position:relative;
  top:0px;
  transition-property: top, background-color, box-shadow;
  transition-duration: 0.8s;
}

.fitem:hover{
  top:10px;
  background-color:#154c79;
  box-shadow:-3px -4px 9px gray;
}

.nev{
  text-decoration: none;
  display:inline-block;
  color: #154c79;
  padding:2em;
  position:relative;
  margin:-2em;
}

.nev:hover{
  color:white;
}


.logo_name{
  float:left;
  /*border-style:double;
  border-color:#154c79;
  border-radius: 5px;*/
  padding:8px;
  padding-left:6px;
  padding-top:22px;
  background-color:white;
  margin:0;
  font-family: cursive;
  color:#154c79;
}

.logo_icon{
  float:left;
  animation-name: logo_sha;
  animation-duration: 12s;
  animation-iteration-count:infinite;
  animation-delay: 2s;
  position:relative;
  padding:8px;
  padding-top: 9px;
  width:60px;
  height:60px;
  margin-left:60px;
  left:-200px;
}

@keyframes logo_sha {

  40%,60%,80%{
    left:0;
    transform: rotate(360deg);
  }
}



.setfixed{
  position:sticky;
  top:0;
  background-color:white;
  z-index: 100;
}

body{
  margin:0;
  overflow-x: hidden;
}


hr{
  margin:0;
  box-shadow:-1px 1px 2px lightgrey;
}

html{
  scroll-behavior: smooth;
}

#myVideo{
  position:absolute;
  right:0;
  bottom:0;
  top:765px;
  width:100%;
  height:87.5%; 
  left:0;
  object-fit:cover;
  z-index:-2;
}

.icon_contain{
  position: fixed;
  right:40px;
  top:320px;
  background-color:#154c79;
  padding:10px;
  margin:5px;
}

.custom-icon {
  font-size: 35px;
  color : white;
  transition-property: all;
  transition-duration: 0.5s;
  padding-top:6px;
  padding-bottom:25px;
}

.custom-icon1 {
  font-size: 35px;
  color : white;
  transition-property: all;
  transition-duration: 0.5s;
  padding-bottom:18px;
}

.goto{
  filter:brightness(0) invert(1);
  width:35px;
  height:35px;
  padding-bottom:5px;
  transition-duration: 0.3s;
}

.custom-icon:hover{
  color:#FF0000;
}

.custom-icon1:hover{
  color:#00acee;
}

.goto:hover{
  filter:none;
}

.req{

  background-color:#f1f1f1;
  border-style:solid;
  border-color: grey;
  text-align:center;
  width:50%;
  margin:45px;
  padding:15px;
  font-family:verdana;
}

.btn{
  position:relative;
  padding:10px;
  bottom:180px;
  right:35px;
  background-color:white; 
  color:#154c79;
  border:2px solid white;
  font-size:20px;
  font-weight: bold;

}

.btn1{
  position:relative;
  padding:10px;
  bottom:180;
  left:35px;
  background-color:white; 
  color:#154c79;
  border:2px solid white;
  font-size:20px;
  font-weight: bold;
  z-index: 10;
}

.btn:hover{
  border-color:black;
}
.btn1:hover{
  border-color:black;
}

.download{

  position:relative;
  padding:10px;
  color:#154c79;
  border:4px solid #154c79;
  font-size:20px;
  font-weight: bold;
  transition-duration: 0.6s;
  background: none;
  cursor: pointer;
}

.download:hover{

  color:white;
}

.download::before{
  content:"";
  width:100%;
  height:5px;
  left:0;
  background:#154c79; 
  position:absolute;
  z-index:-1;
  transition: 0.6s;
}

.download::before{
  top:0;
  height:0;
}

.download:hover::before{
  height:100%;
}
