.fcontainer {
  display: flex;
  justify-content: flex-end;
  /*flex-wrap:wrap;*/
  background-color: white;
  z-index: 100;
  position: relative;
  padding: 10px;
}

.fitem {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  width: 95px;
  height: 20px;
  justify-content: flex-center;
  font-size: 17px;
  text-align: center;
  font-family: Verdana;
  position: relative;
  top: 0px;
  transition-property: top, background-color, box-shadow;
  transition-duration: 0.8s;
}

.fitem:hover {
  top: 10px;
  background-color: #154c79;
  box-shadow: -3px -4px 9px gray;
}

.nev {
  text-decoration: none;
  display: inline-block;
  color: #154c79;
  padding: 2em;
  position: relative;
  margin: -2em;
}

.nev:hover {
  color: white;
}


.logo_name {
  float: left;
  /*border-style:double;
  border-color:#154c79;
  border-radius: 5px;*/
  padding: 8px;
  padding-left: 6px;
  padding-top: 22px;
  background-color: white;
  margin: 0;
  font-family: cursive;
  color: #154c79;
}

.logo_icon {
  float: left;
  animation-name: logo_sha;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  position: relative;
  padding: 8px;
  padding-top: 9px;
  width: 60px;
  height: 60px;
  margin-left: 60px;
  left: -200px;
}

@keyframes logo_sha {

  40%,
  60%,
  80% {
    left: 0;
    transform: rotate(360deg);
  }
}



.setfixed {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

body {
  margin: 0;
  overflow-x: hidden;
}


hr {
  margin: 0;
  box-shadow: -1px 1px 2px lightgrey;
}

.menu_icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 765px;
  width: 100%;
  height: 87.5%;
  left: 0;
  object-fit: cover;
  z-index: -2;
}

.headLine {
  font-family: "Segoe UI";
  color: #154c79;
  font-size: 50px;
}

.headGame {
  color: black;
  font-family: arial;
}

.headGame2 {
  color: black;
  font-family: arial;
}

.icon_contain {
  position: fixed;
  right:0px;
  top: 320px;
  background-color: grey;
  margin: 5px;
}

.custom-icon {
  font-size: 35px;
  color: white;
  transition-property: all;
  transition-duration: 0.5s;
  padding-top: 6px;
  padding:15px;
}

.custom-icon1 {
  font-size: 35px;
  color: white;
  transition-property: all;
  transition-duration: 0.5s;
  padding: 15px;
}

.goto {
  /*filter: brightness(0) invert(1);*/
  width: 35px;
  height: 35px;
  padding: 15px;
  transition-duration: 0.3s;
  background-color:black;
}

.custom-icon:hover {
  background-color: #FF0000;
}

.custom-icon1:hover {
  background-color: #00acee;
}


.req {

  background-color: #f1f1f1;
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 50%;
  margin: 45px;
  padding: 15px;
  font-family: verdana;
}

.req1 {

  background-color: #f1f1f1;
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 50%;
  margin: 45px;
  padding: 15px;
  font-family: verdana;
}

.req3 {

  background-color: #f1f1f1;
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 50%;
  margin: 45px;
  padding: 15px;
  font-family: verdana;
}

.req4 {

  background-color: #f1f1f1;
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 50%;
  margin: 45px;
  padding: 15px;
  font-family: verdana;
}

.btn {
  position: relative;
  padding: 10px;
  bottom: 180px;
  right: 35px;
  background-color: white;
  color: #154c79;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;

}

.btn1 {
  position: relative;
  padding: 10px;
  bottom: 180;
  left: 35px;
  background-color: white;
  color: #154c79;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

.btn:hover {
  border-color: #154c79;
}

.btn1:hover {
  border-color: #154c79;
}

.btn2 {
  position: relative;
  padding: 10px;
  bottom: 180px;
  right: 35px;
  background-color: white;
  color: #154c79;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;

}

.btn3 {
  position: relative;
  padding: 10px;
  bottom: 180;
  left: 35px;
  background-color: white;
  color: #154c79;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

.btn2:hover {
  border-color: #154c79;
}

.btn3:hover {
  border-color: #154c79;
}

.download {

  position: relative;
  padding: 10px;
  color: #154c79;
  border: 4px solid #154c79;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.6s;
  background: none;
  cursor: pointer;
}

.download:hover {

  color: white;
}

.download::before {
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  background: #154c79;
  position: absolute;
  z-index: -1;
  transition: 0.6s;
}

.download::before {
  top: 0;
  height: 0;
}

.download:hover::before {
  height: 100%;
}

.dtrailer {
  filter: drop-shadow(6px 6px 6px gray);
  width: 800px;
  height: 450px;
}

.SQimg1 {
  filter: drop-shadow(6px 6px 6px gray);
  width: 800px;
  height: 400px;
}

.head_about {

  font-family: Segoe UI;
  color: #154c79;
  font-size: 50px;
}

.img_about {
  float: left;
  padding-right: 15px;
  width: 300px;
  height: 305px;
}

.cont {
  margin-top: 50px;
  border: solid black;
  padding: 25px;
  background-color: #f1f1f1;
  position: relative;
  width: 800px;
  text-align: justify;
  height: 300px;
}

.SQimg2 {
  filter: drop-shadow(6px 6px 6px gray);
  width: 800px;
  height: 380px;
}

.head_mobile {
  font-family: Segoe UI;
  color: #154c79;
  size: 50px;
}

.head_gameMobile {
  color: black;
  font-family: arial;
}

.HR_img {
  filter: drop-shadow(6px 6px 6px gray);
  width: 800px;
  height: 380px;
}

.Store_1 {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 6px;
  margin: 20px;
  width: 900px;
}

.Store_2 {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 6px;
  margin: 20px;
  width: 900px;
}

/*.side_floating_text{
  color:white;
  background-color: #154c65;
  position:relative;
  float:right;
  /*right:-14px;
  bottom:-5px;
  padding: 10px 54px;
  margin:-65px;
  transform:rotate(-90deg);
  font-size: 20px;
}*/


@media (max-width:400px) {

  .fcontainer {
    display: block;
    background-color: #154c79;
    z-index: 100;
    position: absolute;
    padding: 6px;
    width: 96.5%;
    top: 40px;
    transition: 1s;
    left:-400px;
    height: 92%;
  }

  .fitem {
    background-color: #154c79;
    width: 85%;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding: 10px;
    margin: 40px 15px;
    border-radius:0px;
  }

  .fitem:hover {
    top: 0px;
    box-shadow: none;
  }

  .nev {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .logo_name {
    position: absolute;
    padding: 5px;
    left: -5px;
    top: 1px;
    background-color: white;
    margin: 0;
    float: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #154c79;
    z-index: 200;
  }

  .nev:hover {
    color: black;
  }

  .logo_icon {
    display: none;
  }

  .setfixed {
    position: static;
    top: 0;
    background-color: white;
    z-index: 100;
  }

  .menu_icon {
    z-index: 300;
    display: block;
    position: absolute;
    margin-left: 320px;
    margin-top: 10px;
  }

  .hr0 {
    display: none;
  }

  .bg_text {
    position: absolute;
    top: 210px;
    color: #154c79;
    width: 90%;
    text-align: left;
  }

  .wel {
    font-size: 30px;
    position:absolute;
    top:-130px;
    
  }

  .note {
    font-size: 20px;
    position:absolute;
    top:-80px;
  }

  .bg_text2 {
    position: absolute;
    left: 0px;
    top: 420px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
    width: 100%;
    font-size: 18px;
  }

  .Index_bg {
    position: absolute;
    top: 215px;
    left: 45px;
    width: 310px;
    height: 180px;
    padding: 0px;
  }

  .Index_bg2:hover {
    transform: none;
    left: 0px;
  }


  .Index_bg2 {
    position: absolute;
    padding-top: 0px;
    padding-right: 0px;
    width: 410px;
    height: 220px;
    top: 190px;
    left: -50px;
    z-index: 2;
    transition-duration: 0.3s;
  }

  #myVideo {
    position: absolute;
    top: 410px;
    width: 100%;
    height: 35%;
    z-index: -2;
  }

  .hr1 {
    display: none;
  }

  .headLine {
    font-family: "Segoe UI";
    color: #154c79;
    font-size: 40px;
    position: absolute;
    top: 90px;
    left: 15px;
    width: 90%;
  }

  .headGame {
    color: black;
    font-family: arial;
    position: absolute;
    top: 200px;
    left: 15px;
    width: 90%;
  }

  .dtrailer {
    filter: drop-shadow(6px 6px 6px white);
    width: 350px;
    height: 190px;
    position: absolute;
    top: 250px;
    left: 5px;
  }

  .req {

    background-color: #f1f1f1;
    border-style: solid;
    border-color: grey;
    text-align: center;
    position: absolute;
    width: 90%;
    margin: 0px;
    padding: 10px;
    top: 460px;
    left: 5px;
    font-family: verdana;
  }

  .headGame2 {
    color: black;
    font-family: arial;
    position: absolute;
    top: -180px;
    left: 40px;
  }

  .SQimg1 {
    filter: drop-shadow(6px 6px 6px white);
    width: 350px;
    height: 190px;
    position: absolute;
    top: -120px;
    left: 5px;

  }

  .req1 {

    background-color: #f1f1f1;
    border-style: solid;
    border-color: grey;
    text-align: center;
    position: absolute;
    width: 90%;
    margin: 0px;
    padding: 10px;
    top: 100px;
    left: 5px;
    font-family: verdana;
  }

  .btn {
    position: relative;
    padding: 5px;
    bottom: 120px;
    right: -150px;
    background-color: white;
    color: #154c79;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
  }

  .btn1 {
    position: relative;
    padding: 5px;
    bottom: 120;
    left: -150px;
    background-color: white;
    color: #154c79;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
  }

  .icon_contain {
    position: absolute;
    right: -5px;
    top: 1500px;
    background-color: #154c79;
    padding: 10px 10px;
    width: 95%;
  }

  .custom-icon {
    font-size: 35px;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
    padding-top: 6px;
    padding-bottom: 25px;
    width: 100%;
  }

  .custom-icon1 {
    font-size: 35px;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
    padding-bottom: 18px;
    width: 100%;
  }

  .goto {
    filter: brightness(0) invert(1);
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    transition-duration: 0.3s;
    padding: 0px 150px;
  }

  .di-bg {
    background-image: url("none");
    background-position: right;
    background-position: top;
    height: 1020px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .sq-bg {
    background-image: url("none");
    background-position: left;
    background-position: top;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .cont {
    border: none;
    padding: 2px;
    background-color: lightgray;
    position: absolute;
    top: 150px;
    width: 98%;
    text-align: justify;
    height: 85%;
  }


  .img_about {
    float: absolute;
    padding: 15px 100px;
    width: 150px;
    height: 150px;
  }

  .SQimg2 {
    filter: drop-shadow(6px 6px 6px white);
    width: 350px;
    height: 190px;
    position: absolute;
    top: 300px;
    left: 5px;
  }


  .head_gameMobile {
    color: black;
    font-family: arial;
    position: absolute;
    top: 200px;
    left: 15px;
    width: 90%;
    z-index: 5;
  }

  .HR_img {
    filter: drop-shadow(6px 6px 6px white);
    width: 350px;
    height: 190px;
    position: absolute;
    top: 950px;
    left: 5px;
  }

  .doll {
    position: absolute;
    left: -50px;
    display: none;
    z-index: -2;
    opacity: 0.7;
    width: 350px;
    height: 800px;
    top: 225px;
  }

  .char {
    position: absolute;
    right: -60px;
    display: none;
    z-index: -2;
    width: 500px;
    height: 300px;
    top: 750px;
    opacity: 0.7;
  }

  .footer {
    display: none;
  }

  .Store_footer {
    display: none;
  }

  .req4 {
    background-color: #f1f1f1;
    border-style: solid;
    border-color: grey;
    text-align: center;
    position: absolute;
    width: 90%;
    margin: 0px;
    padding: 10px;
    top: 1155px;
    left: 5px;
    font-family: verdana;
  }

  .req3 {
    background-color: #f1f1f1;
    border-style: solid;
    border-color: grey;
    text-align: center;
    position: absolute;
    width: 90%;
    margin: 0px;
    padding: 10px;
    top: 510px;
    left: 5px;
    font-family: verdana;
  }

  .HR_head {
    color: black;
    font-family: arial;
    position: absolute;
    top: 850px;
    left: 10px;
  }

  #mobile_social{
    position: absolute;
    right: -5px;
    top: 1300px;
    background-color: grey;
    padding: 10px 10px;
    width: 95%;
  }

  .btn2 {
    position: relative;
    padding: 5px;
    top: 290px;
    right: -150px;
    background-color: white;
    color: #154c79;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
  }

  .btn3 {
    position: relative;
    padding: 5px;
    top: 290px;
    left: -150px;
    background-color: white;
    color: #154c79;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
  }

  .head_store {
    width: 170px;
    height: 55px;
    position: absolute;
    top: 210px;
    left: 100px;
  }

  .Store_1 {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    width: 350px;
    position: absolute;
    top: 300px;
    left: 5px;
  }

  .Store_2 {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    width: 350px;
    position: absolute;
    top: 680px;
    left: 5px;
  }

  .Store_item {
    width: 90%;
    height: 100%;
  }

 /* #store_social{
    position: absolute;
    right: -5px;
    top: 1050px;
    background-color: grey;
    padding: 10px 10px;
    width: 95%;
  }

  .side_floating_text{
    display:none;
  }

  .goto {
    width: 35px;
    height: 35px;
    padding: 15px;
    transition-duration: 0.3s;
    background-color: grey;
  }
  
  .custom-icon:hover {
    background-color: grey;
  }
  
  .custom-icon1:hover {
    background-color: grey;
  }*/

  .icon_contain{
    display:none;
  }

}